/* body {
  background: rgb(247, 135, 62);
  background: linear-gradient(90deg, rgba(247, 135, 62, 1) 0%, rgba(242, 93, 74, 1) 100%);
} */

.App {
  text-align: center;
}

/* body {
  padding-top: 120px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* -----------------------------------Navbar----------------------------- */
.bg-img {
  background-image: url("https://res.cloudinary.com/dvccsosdc/image/upload/v1704705056/33_s5htcf.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 850px;
  max-width: 100%;
  max-height: 100vw;
  position: relative;
}


.navbar {
  box-sizing: border-box;
  left: 0;
  padding: 15px;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

.navLink {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.addToCartText {
  color: black;
  padding: 5px;
  font-size: 20px;
}


.Icon {
  height: 10vmin;
  pointer-events: none;
}

.dropdown-menu {
  background-color: #F36548;
}

.btn-search {
  background-color: #61dafb;
}

.active {
  border-bottom: 4px solid yellowgreen;
  font-size: 22px;
}



.navbar.scrolled {
  color: black;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* background: rgb(27, 18, 155);
  background: linear-gradient(90deg, rgba(27, 18, 155, 1) 0%, rgba(8, 154, 235, 1) 100%); */

  .navbar-brand {
    color: black;
  }

  .nav-link {
    color: black;
  }

  .addToCart {
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
  }

  .addToCartText {
    color: white;
    padding: 5px;
    font-size: 20px;
  }

}

@media only screen and (max-width: 998px) {
  .navbar {
    background-color: white;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .navbar-brand {
    color: black;
  }


  .nav-link {
    color: black;
  }

  .navbar-nav .nav-link.active {
    color: black;
  }


}

/* -----------------------------------Carousel----------------------------- */
.sliderImg {
  min-width: 100px;
  max-height: 950px;
}

/* -----------------------------------Alert----------------------------- */
.color {
  color: white;
  font-weight: bold;
  background-color: red;
  justify-content: center;
  text-align: center;
}

/* -----------------------------------Cards----------------------------- */
.card {
  border: 3px solid black;
  padding: 5px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-title {
  border-top: 2px solid black;
}

.card-detail {
  display: flex;
  flex-direction: row;
}

.product-rating {
  margin-left: auto;
}

.card-img {
  max-width: 350px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-img:hover {
  max-width: 350px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
}

.btncart {
  background-color: rgb(41, 44, 52);
  color: rgb(254, 254, 254);
  /* padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 150px;
  padding-right: 150px; */
}

.btncart:hover {
  background-color: rgb(145, 218, 250);
  color: rgb(0, 0, 0);
}

/* -----------------------------------Footer----------------------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: #282C34;
  color: white;
  padding: 3px;
  border: 2px white solid;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* -----------------------------------Checkout----------------------------- */
.checkout-page .bg-img {
  background-color: black;
  /* width: 0%;
  height: 0px; */
  /* position: relative; */
  /* Set to transparent or remove this line */
}


.checkout-page .navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(36, 25, 25);
  /* padding: 15px; */
  box-sizing: border-box;
  /* z-index: 1; */
  /* Ensure the navbar is on top of the background image */
}

.table {
  border: 2px solid black;
  padding: 2px;
}

.totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  padding: 0px, 10px;
  width: 250px;
  height: 50px;
  margin: auto;
  background-color: rgb(221, 13, 13);
  color: white;
}

.totalPrice:hover {
  background-color: #61dafb;
  color: black;
}

/* -----------------------------------scroll-to-top-button----------------------------- */
.scroll-to-top-button {
  /* fs-2 p-2 rounded fw-bold */
  font-size: 22px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 15px;
  background-color: #0303eb;
  color: white;
}

.cartValueScroll-to-top-button {
  font-size: larger;
  font-weight: bold;
  font-style: normal;
  color: white;
}